.GameUi {
  background-color: #E0E0E0;
  position: relative;
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.GameUi-gameStats {
  width: 100%;
  background-color: #EEE;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.GameUi-teamListStats {
  display: flex;
}

.GameUi-teamStats {
  padding: 5px;
  color: white;
}

.GameUi-timeLeft {
  padding: 5px;
  text-align: center;
  min-width: 40px;
  font-weight: bold;
  color: darkslategray;
}

.GameUi-soldierAmmo {
  padding: 5px;
  min-width: 51px;
  font-weight: bold;
  text-align: right;
}
